<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sns">
	<select id="GetPost" resultType="com.sns.vo.SnsVo" parameterType="int">
		<![CDATA[		
			SELECT postId, user_id, content, reg_date
    			FROM tb_post
    			WHERE isDelete = 0
        			AND isBlind = 0
    			ORDER BY reg_Date DESC
    			LIMIT 10 OFFSET #{pageNo}
		]]>
	</select>
</mapper>